html,
button,
input,
select,
textarea {
	color: #333;
}

body {
	line-height: 20px;
	font-size: 14px;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.container {
	margin: 0 auto;
	width: 900px;
}

.site-header {
	background: url('../img/header-background.png') repeat-x #3fa9f5;
	height: 50px;

}

.site-header .brand {
  background: url('../img/logo.png') no-repeat center center;
  margin-right: 25px;
  width: 93px;
  height: 50px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
}
.nav {
	margin-top: 0;
	padding: 0;
}
.nav li {
	margin: 0;
	display: inline-block;
	font-size: 16px;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav a {
	display: block;
	padding: 15px 25px;
	text-decoration: none;
	color: white;
}
.nav a:hover {
	background-color: #2697de;
}


.main-container {
	margin: 20px 0;
}

.sidebar {
	border: 1px solid #ededed;
	padding: 20px;
	width: 270px;
}

.sidebar p {
	margin: 0 0 auto;
}

.sidebar p:last-child {
	margin-bottom: 0;
}

.content {
	width: 570px;
}

.page-heading {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px 0 20px;
	font-size: 26px;
}

.listing {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.listing:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom:0;
}

.listing .listing-image {
	margin-right: 20px;
	width: 75px;
	height: 75px;
	display: block;
	float: left;
}

.listing .listing-meta {
	margin-top: 5px;
}

.listing .listing-meta h4,
.listing .listing-meta p {
	margin: 0;
	padding: 0;
}

.listing .listing-meta h4 {
	font-size: 16px;
}

.listing .listing-meta p {
	margin: 0;
	padding: 0;
}






.site-footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 900px;
}

.site-footer a {
	text-decoration: none;
	color:  #1e6da5;
}

.site-footer a:hover {
	text-decoration: underline;
}

.site-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.site-footer li {
	margin: 0 5px;
	padding: 0;
	display: inline-block;
}
