html,
button,
input,
select,
textarea {
  color: #333;
}

body {
  line-height: 20px;
  font-size: 14px;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  margin: 0 auto;
  width: 900px;
}





.site-header {
  background: url('../img/header-background.png') repeat-x #3fa9f5;
  height: 50px;

}

.site-header .brand {
  background: url('../img/logo.png') no-repeat center center;
  margin-right: 25px;
  width: 93px;
  height: 50px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
}







.nav {
  margin-top: 0;
  padding: 0;
}
.nav li {
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
}
.nav a:hover {
  background-color: #2697de;
}







.main-container {
  margin: 0 0;
}

.content {
  width: 570px;
}
.banner {
  display: block;
  margin: 0;
  padding: 0;
  background: url('../img/home-banner.png') no-repeat;
  width: 900px;
  height: 292px;
}







.headline {
  margin: 0;
  padding: 70px 0 0 ;
  text-align: center;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 0 black;
}

.sub-head {
  margin: 0 50px;
  padding: 10px 50px 0;
  text-align: center;
  font-size: 16px;
  color: white;
  text-shadow: 0 1px 0 black;
}







.invite {
  margin: 10px auto;
}

.invite-form input {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 3px 0 0 3px;
margin: 0 auto;
padding: 0 7px;
width: 300px;
left: 50%;
margin-left: 260px;
height: 30px;
line-height: 30px;
display: block;
float: left;
}

.invite-form button {
background-color: #333;
border-radius: 0 3px 3px 0;
border: 1px solid #333;
margin: 0 auto;
height: 32px;
text-align: center;
line-height: 30px;
color: #fff;
float: left;
}





.circle {
	margin: 20px 50px 10px 120px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	color: #eee;
	line-height: 100px;
	background: #ebebeb;	
}

.icon-question {
	padding: 70px 30px 0 20px;
	color: #828282;
}

.icon-rocket {
	margin: 30% 10% 0;
	padding: 10px 0;
	color: #828282;
}

.icon-group {
	margin: 30px 0;
	color: #828282;
}


.sub-title {
	margin: 10px 50px 10px 90px;
	font-size: 18px;
}

.copy {
	width: 200px;
	height: 50px;
	margin: 0 0 30px 70px;
	font-size: 14px;
	display: block;
	text-align: center;
}







.site-footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  padding: 10px;
  width: 900px;

}

.site-footer a {
  text-decoration: none;
  color:  #1e6da5;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.site-footer li {
  margin: 0 5px;
  padding: 0;
  display: inline-block;
}
