html,
button,
input,
select,
textarea {
  color: #333;
}

body {
  line-height: 20px;
  font-size: 14px;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  margin: 0 auto;
  width: 900px;
}





.site-header {
  background: url('../img/header-background.png') repeat-x #3fa9f5;
  height: 50px;
  position: relative;
}

.site-header:after {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  content: '';
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-header .brand {
  background: url('../img/logo.png') no-repeat center center;
  margin-right: 25px;
  width: 93px;
  height: 50px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
}







.nav {
  margin-top: 0;
  padding: 0;
}
.nav li {
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
}
.nav a:hover {
  background-color: #2697de;
}







.main-container {
  margin-top: 20px;
}


.content {
  width: 570px;
}
.banner {
  display: block;
  margin: 0;
  padding: 60px 0 0;
  background: url('../img/home-banner.png') center bottom repeat-x;
  background-size: 100% auto;
  height: 232px;
}

.banner-text {
  background: rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  color: #fff;
}

.banner-text h4 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
}

.banner-text p  {
  margin: 0 50px;
  padding: 10px 50px 0;
  font-size: 16px;
}

.invite {
  margin: 10px auto;
}

.invite-form input {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 3px 0 0 3px;
margin: 0 auto;
padding: 0 7px;
width: 300px;
left: 50%;
margin-left: 260px;
height: 30px;
line-height: 30px;
display: block;
float: left;
}

.invite-form button {
background-color: #333;
border-radius: 0 3px 3px 0;
border: 0px solid #333;
margin: 0 auto;
height: 32  px;
text-align: center;
line-height: 30px;
color: #fff;
float: left;
}









.sub-title {
	margin: 10px 50px 10px 90px;
	font-size: 18px;
}

.copy {
	width: 200px;
	height: 50px;
	margin: 0 0 30px 70px;
	font-size: 14px;
	display: block;
	text-align: center;
}



.col {
  width: 30%;
  text-align: center;
}

.col:first-child {
  margin-left: 5%;
}

.circle {
  margin: 20px auto 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: #eee;
  line-height: 100px;
  text-align: center;
  background: #ebebeb;
}

.circle [class^='icon'],
.circle [class^=' icon'] {
  vertical-align: middle;
  color: #828282;
  font-size: 58px;
}


.circle .icon-question {
  font-size: 70px;
}






.site-footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  padding: 10px;
  width: 900px;

}

.site-footer a {
  text-decoration: none;
  color:  #1e6da5;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.site-footer li {
  margin: 0 5px;
  padding: 0;
  display: inline-block;
}
