html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 20px;
  font-family: arial, verdana, sans-serif;
  font-size: 14px;
}

.banner-container {
  background-color: #333;
  padding: 30px;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.banner-container h1 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto 0;
  width: 990px;
}

.project {
}

.project h3 {
  background-color: #999;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px 0 15px;
  padding: 20px;
  color: #fff;
}

.project iframe {
  border: 5px solid #ccc;
  margin: 0;
  width: 100%;
  padding: 0;
  height: 600px;
  display: block;
  box-sizing: border-box;
}

.project-minecraft iframe {
  height: 516px;
}